upstream {{ item.name }} {
    {{ lb.load_balance_discipline }};
    server {{ item.srv_ip0}}:{{ item.srv_port }} fail_timeout=0;
    server {{ item.srv_ip1}}:{{ item.srv_port }} fail_timeout=0;
    server {{ item.srv_ip2}}:{{ item.srv_port }} fail_timeout=0;
}

server {
    # redirects to https
    if ($host = {{ item.srv_fqdn }}) {
        return 301 https://$host$request_uri;
    } 

    listen {{ item.listen_port }};
    server_name {{ item.srv_fqdn }};
    return 301 https://$server_name$request_uri;


}
server {
    listen {{ item.ssl_port }} ssl http2;

    server_name {{ item.srv_fqdn }};

    root /usr/share/nginx/html/{{ item.name }};


    location / {
        # Some of these might not be required for other services
        # proxy_pass is the most important
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP  $remote_addr;
        proxy_pass https://siem;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 900s;
    }
    ssl_certificate {{ item.tls_certificate_path }};
    ssl_certificate_key {{ item.tls_certprivkey_path }};
}

